* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

header {
    background-color: #F2F1ED;
    padding: 10px 0px;
    width: 100vw;
    height: auto;

    nav {
        margin: 0 auto;
        width: 90vw;

        ul {
            display: flex;

        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            &:nth-of-type(1) {
                justify-content: flex-start;
            }

            &:nth-of-type(2) {
                justify-content: flex-end;
            }
        }

        img {
            width: 50%;
        }

        .button {
            background-color: rgb(3, 82, 0);
            color: white;
            text-decoration: none;
            padding: 10% 20%;
            border-radius: 25px;
            transform: scale(1);
            transition-duration: 1s;

            &:hover {
                transform: scale(1.05);
                transition-duration: 1s;
            }
        }    
    }  
}

main {

}