* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}



img, video {
    width: 100%;
    height: auto;
}

.button {
    background-color: rgb(53, 141, 218);
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 15px;
    transform: scale(1);
    transition-duration: 1s;

    &:hover {
        transform: scale(1.05);
        transition-duration: 1s;
    }
}

header {
    background-color: #F2F1ED;
    padding: 10px 0px;
    width: 100vw;
    height: auto;

    nav {
        margin: 0 auto;
        width: 90vw;

        ul {
            display: flex;

        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            &:nth-of-type(1) {
                justify-content: flex-start;
            }

            &:nth-of-type(2) {
                justify-content: flex-end;
            }
        }

        img {
            width: 50%;
            max-width: 150px;
        }
    }    
}  


main {

    .underlay-img {
        width: 100vw;
        height: auto;
        opacity: .4;

        @media (min-width: 1000px) {
            width: 50vw;
            opacity: 1;
        }
    }

    .banner {
        position: relative;
        background-color: black;

        @media (min-width: 1000px) {
            position: static;
            width: 50vw;
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;

        }
    }

    .banner-text {
        position: absolute;
        left: 5vw;
        top: 20vw;
        color: white;

        @media (min-width: 1000px) {
            position: static;
            color: black;
            width: 50vw;
        }
    }

    a.button-inline {

        display: inline-block;
        background-color: rgb(53, 141, 218);
        color: white;
        text-decoration: none;
        padding: 20px 40px;
        border-radius: 15px;
        transform: scale(1);
        transition-duration: 1s;

        &:hover {
            transform: scale(1.05);
            transition-duration: 1s;
        }
    }

    .text-banner-gaps {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 1000px) {
            display: flex;
            justify-content: center;
            place-items: center;
            align-items: center;
        }
    }
}