@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto"
}



img, video {
    width: 100%;
    height: auto;
}

.button {
    background-color: rgb(53, 141, 218);
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 15px;
    transform: scale(1);
    transition-duration: 1s;
    text-transform: none;

    &:hover {
        transform: scale(1.05);
        transition-duration: 1s;
    }
}

header {
    background-color: transparent;
    padding: 10px 0px;
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 2;

    nav {
        margin: 0 auto;
        width: 90vw;

        ul {
            display: flex;

        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            &:nth-of-type(1) {
                justify-content: flex-start;
            }

            &:nth-of-type(2) {
                justify-content: flex-end;
            }
        }

        img {
            width: 100%;
            max-width: 250px;
        }
    }    
}  


main {

    .underlay-img {
        width: 100vw;
        height: 100vh;
        opacity: .4;
        object-fit: cover;
    }

    .banner {
        position: relative;
        background-color: black;
    }

    .banner-text {
        position: absolute;
        top: 20%;
        font-size: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        width: 100vw;

        h1 {
            text-transform: uppercase;
            font-size:4rem;
        }
    }

    a.button-inline {

        display: flex;
        justify-content: center;
        background-color: rgb(53, 141, 218);
        color: white;
        text-decoration: none;
        max-width: 400px;
        padding: 20px 40px;
        border-radius: 15px;
        transform: scale(1);
        transition-duration: 1s;

        &:hover {
            transform: scale(1.05);
            transition-duration: 1s;
        }
    }

    .text-banner-gaps {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80vw;
        place-self: center;
    }

    .transparent-banner {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .usp-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.571);
        margin-top: 20px;
        width: 80vw;
        padding: 20px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        li {
            svg {
                width: 45px;
                height: auto;

                path {
                    fill: white;
                }
            }
        }

    }

}
