* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #F2F1ED;
    padding: 10px 0px;
    width: 100vw;
    height: auto;

    nav {
        margin: 0 auto;
        width: 90vw;

        ul {
            display: flex;

        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            &:nth-of-type(1) {
                justify-content: flex-start;
            }

            &:nth-of-type(2) {
                justify-content: flex-end;
            }
        }

        img {
            width: 50%;
        }
    }
}